<template>
  <div class="bg row column justify-center items-center q-pa-sm">
    <q-resize-observer @resize="onResize" />
    <div
      align="center"
      class="q-mb-xl"
      v-show="innerWidth > 600 && innerHeight > 600"
    >
      <img src="../assets/logowinner.png">
    </div>
    <div
      align="center"
      class="text-h3 text-bold question-stroke text-white q-mt-sm q-mb-sm"
      :class="{'text-h4':innerWidth < 600}"
    >
      <div class="q-mb-md">ขอบคุณ</div>
      <div class="q-mt-lg">สำหรับการทำแบบทดสอบ</div>
    </div>
    <div
      align="center"
      class="q-mt-xl"
      style="width:250px;"
      :class="{'text-h4':innerWidth < 600}"
    >
      <q-btn
        push
        class="text-white q-pa-md btn-max-width"
        color="secondary"
        @click="outBtn()"
      >
        <span class="text-h6">ออกจากระบบ</span>
      </q-btn>
    </div>
  </div>
</template>
<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      school: {
        code: this.$store.state.system.teststudentData.schoolCode
      },
      student: {
        code: this.$store.state.system.teststudentData.studentCode
      },
      prepostkey: this.$store.state.system.teststudentData.prepostkey,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeigth
    };
  },
  methods: {
    ...mapActions(["setUserData", "setExamData", "setLevelData"]),
    outBtn() {
      this.setUserData("");
      this.setExamData("");
      this.setLevelData("");
      this.$router.push("/");
    },
    checkFinish() {
      db.collection("pretestposttestlog")
        .doc(this.$q.localStorage.get("pretestposttestlogid"))
        .update({
          status: "pass"
        });
    },
    onResize(data) {
      this.innerWidth = data.width;
      this.innerHeight = data.height;
    }
  },
  mounted() {
    this.checkFinish();
  }
};
</script>