<template>
  <div class="bg row column justify-center items-center q-pa-sm">
    <q-resize-observer @resize="onResize" />
    <input
      type="text"
      ref="inputHidden"
      readonly
      style="position:absolute;z-index:1;"
    >
    <div
      align="center"
      class="q-mb-xl q-display-3"
      v-show="innerWidth > 600&&innerHeight > 600"
    >
      <img src="../assets/logowinner.png">
    </div>
    <div
      class="row bg-light-blue-10"
      style="position:relative;max-width:470px;width:100%;border:2px solid #01579B;border-radius:50px;z-index:2;"
    >
      <div
        class="col-xl-12 self-center col-xs-12 header-stroke text-white"
        style="letter-spacing:1px;"
        :class="{'text-h6 q-pa-md':innerWidth > 600,'text-h6 q-pa-lg':innerWidth < 600}"
        align="center"
      >
        <span>Pre-test / Post-test</span>
      </div>
      <div
        class="row justify-center bg-cyan-7 q-pr-md q-pl-md q-pb-md q-ml-sm q-mr-sm q-mb-sm"
        style="border-radius:0px 0px 50px 50px;"
      >
        <div
          class="col-xl-12 col-xs-12 q-pa-md q-ma-sm text-white text-body1"
          align="center"
        >
          <span v-show="page == 1">รหัสผู้ใช้งาน</span>
          <span v-show="page == 2">{{studentName}}</span>
        </div>
        <div
          class="col-xl-9 col-xs-10 text-light bg-white text-body1 q-pa-sm"
          align="center"
          style="position:relative;border-radius:3px;box-shadow:0 0 .1mm 1px #0698a8;"
        >
          <span v-if="page == 1">
            <span
              style="color:black"
              v-if="username.length > 0"
            >{{username}}</span>
            <span
              class="text-white"
              v-else
            >รหัสผู้ใช้งาน</span>
          </span>
          <span v-else>
            <span
              style="color:black"
              :class="{'security-password':!isShowPass}"
              v-if="password.length > 0"
            >{{password}}</span>
            <span v-else>รหัสผ่าน</span>
            <q-btn
              @click="togglePasswordVisibility()"
              style="position:absolute;right:0;top:0;width:50px;height:100%;border-left:1px solid#00ACC1;border-radius:0px 3px 3px 0px;border-right:none;border-top:none;border-bottom:none;"
              outline
            >
              <span
                :class="{'fas fa-eye':isShowPass,'fas fa-eye-slash':!isShowPass}"
                class="text-blue text-bold text-h6"
              ></span>
            </q-btn>
          </span>
        </div>
        <!-- ปุ่ม : ตัวเลข 0-9 -->
        <div
          class="col-xl-9 col-xs-10 q-mt-sm bg-white"
          style="border-radius:3px;box-shadow:0 0 .1mm 1px #0698a8;"
        >
          <div class="row q-pa-sm">
            <div
              class="col-xs-4 q-pa-xs"
              align="center"
            >
              <q-btn
                push
                size="lg"
                label="1"
                @click="clickNumberBtn(1)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div
              class="col-xs-4 q-pa-xs"
              align="center"
            >
              <q-btn
                push
                size="lg"
                label="2"
                @click="clickNumberBtn(2)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div
              class="col-xs-4 q-pa-xs"
              align="center"
            >
              <q-btn
                push
                size="lg"
                label="3"
                @click="clickNumberBtn(3)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div
              class="col-xs-4 q-pa-xs"
              align="center"
            >
              <q-btn
                push
                size="lg"
                label="4"
                @click="clickNumberBtn(4)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div
              class="col-xs-4 q-pa-xs"
              align="center"
            >
              <q-btn
                push
                size="lg"
                label="5"
                @click="clickNumberBtn(5)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div
              class="col-xs-4 q-pa-xs"
              align="center"
            >
              <q-btn
                push
                size="lg"
                label="6"
                @click="clickNumberBtn(6)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div
              class="col-xs-4 q-pa-xs"
              align="center"
            >
              <q-btn
                push
                size="lg"
                label="7"
                @click="clickNumberBtn(7)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div
              class="col-xs-4 q-pa-xs"
              align="center"
            >
              <q-btn
                push
                size="lg"
                label="8"
                @click="clickNumberBtn(8)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div
              class="col-xs-4 q-pa-xs"
              align="center"
            >
              <q-btn
                push
                size="lg"
                label="9"
                @click="clickNumberBtn(9)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div
              class="col-xs-4 q-pa-xs"
              align="center"
            ></div>
            <div
              class="col-xs-4 q-pa-xs"
              align="center"
            >
              <q-btn
                push
                size="lg"
                label="0"
                @click="clickNumberBtn(0)"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
            <div
              class="col-xs-4 q-pa-xs"
              align="center"
            >
              <q-btn
                push
                size="lg"
                @click="backspace()"
                icon="fas fa-backspace"
                class="bg-cyan-7 q-title text-white text-weight-bold btn-max-width"
              />
            </div>
          </div>
        </div>
        <!-- ปุ่ม : ถัดไป/ย้อนกลับ/เข้าสู่ระบบ -->
        <div
          class="col-xl-9 col-xs-10 q-mt-lg q-pb-xl"
          align="center"
        >
          <div
            class="row"
            v-if="page == 1"
          >
            <div
              class="col-xs-6 offset-xs-3 q-pr-sm"
              align="center"
            >
              <q-btn
                label="ถัดไป"
                @click="checkUsername()"
                color="primary"
                class="text-white text-weight-bold q-pa-sm"
                :disabled="page == 2||!isCheckUser||username.length <= 0"
                push
                style="width:100%"
              ></q-btn>
            </div>
          </div>
          <div
            class="row"
            v-else
          >
            <div
              class="col-xs-6 q-pr-sm"
              align="right"
            >
              <q-btn
                label="ย้อนกลับ"
                @click="backToLogin()"
                color="red-5"
                class="text-white text-weight-bold q-pa-sm"
                :disabled="page == 1"
                push
                style="width:100%;"
              ></q-btn>
            </div>
            <div
              class="col-xs-6 q-pl-sm"
              align="left"
            >
              <q-btn
                label="เข้าสู่ระบบ"
                @click="checkPassword()"
                color="primary"
                class="text-white text-weight-bold q-pa-sm"
                :disabled="page == 1||!isCheckPass||password.length <= 0"
                push
                style="width:100%;"
              ></q-btn>
            </div>
          </div>
        </div>
      </div>
      <div class="absolute-bottom-right q-mr-xl q-mb-lg">
        <span class="text-white">v. {{appVersion}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      page: 1,
      username: "",
      password: "",
      schoolCode: "",
      studentCode: "",
      studentName: "",
      academicYear: "",
      room: "",
      prepostkey: "",
      allowKeyboard: true,
      isShowPass: false,
      isCheckUser: true,
      isCheckPass: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeight
    };
  },
  methods: {
    ...mapActions(["setUserData", "setLevelData", "setCreatedKeyup"]),
    clickNumberBtn(data) {
      // this.$refs.inputHidden.focus();

      if (this.page == 1) {
        if (this.username.length < 10) {
          this.username += data;
        }
      } else {
        if (this.password.length < 4) {
          this.password += data;
        }
      }
    },
    backspace() {
      if (this.page == 1) {
        this.username = this.username.slice(0, -1);
      } else {
        this.password = this.password.slice(0, -1);
      }
    },
    backToLogin() {
      this.username = "";
      this.studentName = "";
      this.studentCode = "";
      this.schoolCode = "";
      this.password = "";
      this.page = 1;
    },
    togglePasswordVisibility() {
      this.isShowPass = !this.isShowPass;
    },
    async checkUsername() {
      if (this.username.length > 0) {
        this.showLoading();

        let _this = this;
        let coursedata = [];
        this.isCheckUser = false;
        this.schoolCode = this.username.substring(0, 3);
        this.password = "";
        db.collection("school")
          .doc(this.schoolCode)
          .collection("student")
          .where("username", "==", this.username)
          .get()
          .then(getData => {
            if (getData.size > 0) {
              getData.forEach(doc => {
                _this.studentCode = doc.id;
                _this.studentName = doc.data().name;
                //load lastest course
                db.collection("course")
                  .where("studentid", "==", _this.studentCode)
                  .get()
                  .then(doc2 => {
                    if (doc2.size > 0) {
                      doc2.forEach(docdata => {
                        coursedata.push(docdata.data());
                      });
                      coursedata.sort((b, a) => {
                        return a.timestamp - b.timestamp;
                      });
                      _this.academicYear = coursedata[0].academicYear;
                      let roomtemp = coursedata[0].room;
                      let roomtemp2 = roomtemp.split("/");
                      _this.room = roomtemp2[0];

                      //Check pretest posttest
                      db.collection("pretestposttest")
                        .where("academicYear", "==", _this.academicYear)
                        .where("schoolCode", "==", _this.schoolCode)
                        .where("isUse", "==", true)
                        .get()
                        .then(pdata => {
                          let setlevel;
                          if (!pdata.empty) {
                            db.collection("course")
                              .where("studentid", "==", _this.studentCode)
                              .where("academicYear", "==", _this.academicYear)
                              .get()
                              .then(result => {
                                result.forEach(getresult => {
                                  setlevel = getresult.data();
                                });

                                let dataAdd = {
                                  testType: pdata.docs[0].data().testType
                                };

                                let dataFinal = { ...dataAdd, ...setlevel };

                                this.setLevelData(dataFinal);

                                pdata.forEach(pdoc => {
                                  this.prepostkey = pdoc.id;
                                  _this.isCheckUser = true;
                                  _this.page = 2;
                                });
                              });
                          } else {
                            _this.isCheckUser = true;
                            this.notifyRed("รหัสผู้ใช้งานผิดพลาด");
                          }
                          this.hideLoading();
                        });
                    }
                  });
              });
            } else {
              _this.isCheckUser = true;
              this.notifyRed("รหัสผู้ใช้งานผิดพลาด");
              this.hideLoading();
            }
          });
      }
    },
    async checkPassword() {
      if (this.password.length > 0) {
        this.showLoading();
        let _this = this;

        let getData = await db
          .collection("school")
          .doc(this.schoolCode)
          .collection("student")
          .doc(this.studentCode)
          .get();

        let getPrepostData = await db
          .collection("pretestposttest")
          .doc(this.prepostkey)
          .get();

        if (getData.exists) {
          let savePassword = getData.data().password;
          this.isCheckPass = false;

          if (savePassword === this.password) {
            let newData = {
              room: this.room,
              academicYear: this.academicYear,
              studentCode: this.studentCode,
              prepostkey: this.prepostkey,
              schoolCode: this.schoolCode
            };

            let dataFinal = { ...getData.data(), ...newData };

            this.setUserData(dataFinal);

            let loaddata = await db
              .collection("pretestposttestlog")
              .where("studentid", "==", this.studentCode)
              .where("testKey", "==", this.prepostkey)
              .where("testType", "==", getPrepostData.data().testType)
              .where("status", "==", "pass")
              .get();

            if (loaddata.size) {
              // if (loaddata.data().status == "pass") {
              this.notifyRed("ผู้ใช้งานนี้ได้ทำการทดสอบแล้ว");
              this.isCheckPass = true;
              this.page = 1;
              this.password = "";
              this.hideLoading();
              return;
              // } else {
              //   setTimeout(() => {
              //     this.password = "";
              //     this.isCheckPass = true;
              //     this.page = 3;
              //     this.$router.push("/start");
              //   }, 1000);
              // }
            } else {
              this.password = "";
              this.isCheckPass = true;
              this.page = 3;
              this.$router.push("/welcome");
            }
          } else {
            this.notifyRed("รหัสผ่านผิดพลาด");
            this.isCheckPass = true;
            this.password = "";
            this.hideLoading();
            return;
          }

          this.hideLoading();
          this.password = "";
          this.page = 3;
          this.isCheckPass = true;
        }
      }
    },
    onResize(data) {
      this.innerWidth = data.width;
      this.innerHeight = data.height;
    }
  },
  mounted() {
    let _this = this;
    window.addEventListener("keyup", function(event) {
      let key = event.keyCode;
      if (_this.allowKeyboard == true) {
        if (key === 97) {
          _this.clickNumberBtn(1);
        } else if (key == 98) {
          _this.clickNumberBtn(2);
        } else if (key == 99) {
          _this.clickNumberBtn(3);
        } else if (key == 100) {
          _this.clickNumberBtn(4);
        } else if (key == 101) {
          _this.clickNumberBtn(5);
        } else if (key == 102) {
          _this.clickNumberBtn(6);
        } else if (key == 103) {
          _this.clickNumberBtn(7);
        } else if (key == 104) {
          _this.clickNumberBtn(8);
        } else if (key == 105) {
          _this.clickNumberBtn(9);
        } else if (key == 96) {
          _this.clickNumberBtn(0);
        } else if (key == 8) {
          _this.backspace();
        } else if (key == 13) {
          if (_this.page == 1) {
            _this.checkUsername();
          } else if (_this.page == 2) {
            _this.checkPassword();
          }
        }
      }
    });
  }
};
</script>
