<template>
  <div>
    <q-resize-observer @resize="onResize" />
    <div class="row bar-title">
      <q-toolbar class="col-12 q-pa-md main q-mx-auto">
        <span class="logo-text text-h4 text-bold">WINNER ENGLISH</span>
        <q-space />
        <div class="text-white text-h6 desktop-only">
          <span class="space-text q-pr-lg">{{student.name}}</span>
          <span class="space-text q-pr-lg q-pl-lg">{{student.room}}</span>
          <span class="q-pl-lg">เลขที่ {{student.studentno}}</span>
        </div>
      </q-toolbar>
    </div>
    <div
      class="row main q-mx-auto q-mt-xl"
      v-if="loading"
    >
      <div class="col-sm-6 col-xs-12 text-white text-bold text-h4 self-center q-pl-xl">
        <span>ข้อ {{currentQuestion + 1}}/{{dataShow.length}}</span>
      </div>
      <div class="col-sm-6 col-xs-12 self-center q-pr-xl">
        <div
          align="right"
          class="text-white text-body1"
        >
          <span>{{minute}} นาที</span>
        </div>
        <q-linear-progress
          stripe
          rounded
          style="height: 40px"
          :value="progress"
          color="warning"
        />
      </div>

      <q-toolbar
        class="col-12 question-bar q-pa-xs text-h5 q-mt-xl"
        v-if="dataShow.length > 0"
      >
        <div
          align="center"
          class="window-width text-center text-blue-10 text-bold"
        >
          <span
            v-if="isLanguage"
            v-html="dataShow[currentQuestion].instructioneng"
          ></span>
          <span
            v-else
            v-html="dataShow[currentQuestion].instructionthai"
          ></span>
        </div>
        <q-space />
        <div class="bg-teal-5 q-pa-md">
          <q-btn
            round
            class="bg-grey-3"
            @click="changeLanBtn()"
          >
            <img
              src="../assets/icon-03.png"
              style="width:40px;"
              v-if="isLanguage"
            >
            <img
              src="../assets/icon-04.png"
              style="width:40px;"
              v-else
            >
          </q-btn>
        </div>
      </q-toolbar>

      <div
        align="center"
        class="col-12 q-mt-lg q-pt-lg"
        v-if="dataShow.length > 0"
      >
        <span
          class="text-h5 text-white"
          v-html="dataShow[currentQuestion].question"
        ></span>
      </div>
      <div
        align="center"
        class="col-12 q-mt-xl"
        v-if="dataShow.length > 0"
      >
        <div class="row">
          <div
            class="col-sm-6 col-xs-12 q-pa-lg"
            align="center"
            v-for="(item,index) in dataShow[currentQuestion].choiceArr"
            :key="index"
          >
            <q-btn
              class="btn-auto q-pa-lg bg-white shadow-4"
              @click="checkAnswerBtn(item.index)"
              no-caps
              :disable="!isAnswer"
            >
              <span
                class="text-body1"
                v-html="item.choice"
              ></span>
            </q-btn>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      school: {
        code: this.$store.state.system.teststudentData.schoolCode
      },
      student: {
        name:
          this.$store.state.system.teststudentData.name +
          " " +
          this.$store.state.system.teststudentData.surname,
        room: this.$store.state.system.teststudentData.room,
        studentno: this.$store.state.system.testlevelexam.studentno,
        code: this.$store.state.system.teststudentData.studentCode
      },
      prepostkey: this.$store.state.system.teststudentData.prepostkey,
      minute: 0,
      expecttime: 0,
      progress: 1,
      dataShow: [],
      currentQuestion: 0,
      loading: true,
      isLanguage: true,
      isAnswer: true,
      isVueXData: this.$store.state.system.teststudentData == "" ? false : true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeigth,
      pretestposttestlogid: ""
    };
  },
  methods: {
    ...mapActions(["setUserData", "setLevelData", "setExamData"]),
    changeLanBtn() {
      this.isLanguage = !this.isLanguage;
    },
    checkAnswerBtn(index) {
      this.isAnswer = false;
      if (index == this.dataShow[this.currentQuestion].correctanswer) {
        db.collection("pretestposttestlog")
          // .doc(this.student.code)
          .where(
            "studentid",
            "==",
            this.$store.state.system.testlevelexam.studentid
          )
          .where(
            "testType",
            "==",
            this.$store.state.system.testlevelexam.testType
          )
          .where(
            "academicyear",
            "==",
            this.$store.state.system.testlevelexam.academicYear
          )
          .get()
          .then(getscore => {
            getscore.forEach(async element => {
              if (element.exists) {
                let vocabscore;
                let grammarscore;
                let readingscore;
                let writingscore;
                let listeningscore;
                // let scoreObj = {
                //   vocabscore: 0,
                //   grammarscore: 0,
                //   readingscore: 0,
                //   writingscore: 0,
                //   listeningscore: 0
                // };

                // console.log(element.data());

                vocabscore =
                  element.data().vocabscore > 0 ? element.data().vocabscore : 0;
                grammarscore =
                  element.data().grammarscore > 0
                    ? element.data().grammarscore
                    : 0;
                readingscore =
                  element.data().readingscore > 0
                    ? element.data().readingscore
                    : 0;
                writingscore =
                  element.data().writingscore > 0
                    ? element.data().writingscore
                    : 0;
                listeningscore =
                  element.data().listeningscore > 0
                    ? element.data().listeningscore
                    : 0;

                // scoreObj.vocabscore =
                //   element.data().vocabscore > 0 ? element.data().vocabscore : 0;
                // scoreObj.grammarscore =
                //   element.data().grammarscore > 0
                //     ? element.data().grammarscore
                //     : 0;
                // scoreObj.readingscore =
                //   element.data().readingscore > 0
                //     ? element.data().readingscore
                //     : 0;
                // scoreObj.writingscore =
                //   element.data().writingscore > 0
                //     ? element.data().writingscore
                //     : 0;
                // scoreObj.listeningscore =
                //   element.data().listeningscore > 0
                //     ? element.data().listeningscore
                //     : 0;

                if (this.dataShow[this.currentQuestion].skill == "vocabulary") {
                  vocabscore = vocabscore + 1;
                  // scoreObj.vocabscore = scoreObj.vocabscore + 1;
                } else if (
                  this.dataShow[this.currentQuestion].skill == "grammar"
                ) {
                  grammarscore = grammarscore + 1;
                  // scoreObj.grammar = scoreObj.grammar + 1;
                } else if (
                  this.dataShow[this.currentQuestion].skill == "reading"
                ) {
                  readingscore = readingscore + 1;
                  // scoreObj.reading = scoreObj.reading + 1;
                } else if (
                  this.dataShow[this.currentQuestion].skill == "writing"
                ) {
                  writingscore = writingscore + 1;
                  // scoreObj.writing = scoreObj.writing + 1;
                } else if (
                  this.dataShow[this.currentQuestion].skill ==
                  "listening & Speaking"
                ) {
                  listeningscore = listeningscore + 1;
                  // scoreObj.listeningscore = scoreObj.listeningscore + 1;
                }

                // console.log(scoreObj);

                db.collection("pretestposttestlog")
                  .doc(this.pretestposttestlogid)
                  .update({
                    vocabscore: vocabscore,
                    grammarscore: grammarscore,
                    readingscore: readingscore,
                    writingscore: writingscore,
                    listeningscore: listeningscore
                    // score: scoreObj,
                    // schoolcode: this.school.code,
                    // testKey: this.prepostkey
                  });
              }
            });
          });
      }
      db.collection("pretestposttestlog")
        .doc(this.pretestposttestlogid)
        .update({
          currentQuestion: this.currentQuestion + 1
        });

      if (this.currentQuestion + 1 == this.dataShow.length) {
        db.collection("pretestposttestlog")
          .doc(this.pretestposttestlogid)
          .update({
            status: "pass"
          })
          .then(doc => {
            this.$router.push("/finish");
          });
      }

      if (this.currentQuestion + 1 < this.dataShow.length) {
        setTimeout(() => {
          this.currentQuestion++;
          this.isAnswer = true;
        }, 700);
      }
    },
    async loadBasicData() {
      this.showLoading("กำลังโหลดข้อมูล");
      let path = "https://www.winner-english.com/data/api/gettime.php";
      let microtime = await axios.get(path);
      microtime = microtime.data[0].microtime;

      let pretestposttestlogkey = await db
        .collection("pretestposttestlog")
        .where(
          "studentid",
          "==",
          this.$store.state.system.testlevelexam.studentid
        )
        .where(
          "testType",
          "==",
          this.$store.state.system.testlevelexam.testType
        )
        .where(
          "academicyear",
          "==",
          this.$store.state.system.testlevelexam.academicYear
        )
        .get();

      if (!pretestposttestlogkey.empty) {
        this.pretestposttestlogid = pretestposttestlogkey.docs[0].id;
      }

      if (!this.isVueXData) {
        this.notifyRed("ยังไม่มีการล็อคอินเข้าสู่ระบบ");
        this.hideLoading();
        setTimeout(() => {
          this.$router.push("/");
        }, 1500);
      }
      db.collection("pretestposttestlog")
        .doc(this.pretestposttestlogid)
        .get()
        .then(result => {
          if (result.exists) {
            this.expecttime = result.data().expecttime;
            this.minute =
              result.data().expecttime -
              ((microtime - result.data().starttesttime) / 60 / 1000).toFixed(
                0
              );

            let setprogress = (
              Number(this.minute) / Number(this.expecttime)
            ).toFixed(2);

            this.progress = Number(setprogress);
            this.currentQuestion = result.data().currentQuestion
              ? result.data().currentQuestion
              : 0;

            this.loadQuestion();
          }
        });
    },
    loadQuestion() {
      let examData = this.$store.state.system.testexamprepostData;
      let levelData = this.$store.state.system.testlevelexam;

      let unitstart = 1;
      let unitend = 16;
      let sumfor = 0;

      return new Promise((resolve, reject) => {
        for (let i = unitstart; i <= unitend; i++) {
          let vocablv = "L" + levelData.vocablv + "U" + i;
          let grammarlv = "L" + levelData.grammarlv + "U" + i;
          let readinglv = "L" + levelData.readinglv + "U" + i;
          let writinglv = "L" + levelData.writinglv + "U" + i;
          let listeninglv = "L" + levelData.listeninglv + "U" + i;
          let testType = "";

          console.log(vocablv, grammarlv, readinglv, writinglv, listeninglv);
          if (
            this.$store.state.system.testexamprepostData.testType == "preTest"
          ) {
            testType = "preTest";
          } else {
            testType = "postTest";
          }

          // Load Vocab ----------------------------------------------------------------
          db.collection("questionpool")
            .doc("server")
            .collection(vocablv)
            .where("skill", "==", "vocabulary")
            .where(testType, "==", true)
            .get()
            .then(getvocab => {
              console.log(getvocab.size);
              if (getvocab.size > 0) {
                getvocab.forEach(result => {
                  let choiceArr = [
                    {
                      choice: result.data().choice1,
                      index: 1
                    },
                    {
                      choice: result.data().choice2,
                      index: 2
                    },
                    {
                      choice: result.data().choice3,
                      index: 3
                    },
                    {
                      choice: result.data().choice4,
                      index: 4
                    },
                    {
                      choice: result.data().choice5,
                      index: 5
                    }
                  ];

                  let choiceArrFiltered = choiceArr.filter(function(el) {
                    return el.choice != "";
                  });
                  choiceArrFiltered = choiceArrFiltered.filter(function(el) {
                    return el.choice != undefined;
                  });

                  this.shuffle(choiceArrFiltered);

                  let dataAnswer = {
                    choiceArr: choiceArrFiltered
                  };

                  let datafinal = { ...result.data(), ...dataAnswer };

                  this.dataShow.push(datafinal);
                });
              }

              // Load grammar ----------------------------------------------------------------
              db.collection("questionpool")
                .doc("server")
                .collection(grammarlv)
                .where("skill", "==", "grammar")
                .where(testType, "==", true)
                .get()
                .then(getgrammar => {
                  if (getgrammar.size > 0) {
                    getgrammar.forEach(result => {
                      let choiceArr = [
                        {
                          choice: result.data().choice1,
                          index: 1
                        },
                        {
                          choice: result.data().choice2,
                          index: 2
                        },
                        {
                          choice: result.data().choice3,
                          index: 3
                        },
                        {
                          choice: result.data().choice4,
                          index: 4
                        },
                        {
                          choice: result.data().choice5,
                          index: 5
                        }
                      ];

                      let choiceArrFiltered = choiceArr.filter(function(el) {
                        return el.choice != "";
                      });
                      choiceArrFiltered = choiceArrFiltered.filter(function(
                        el
                      ) {
                        return el.choice != undefined;
                      });

                      this.shuffle(choiceArrFiltered);

                      let dataAnswer = {
                        choiceArr: choiceArrFiltered
                      };

                      let datafinal = { ...result.data(), ...dataAnswer };

                      this.dataShow.push(datafinal);
                    });
                  }

                  // Load reading ----------------------------------------------------------------
                  db.collection("questionpool")
                    .doc("server")
                    .collection(readinglv)
                    .where("skill", "==", "reading")
                    .where(testType, "==", true)
                    .get()
                    .then(getreading => {
                      if (getreading.size > 0) {
                        getreading.forEach(result => {
                          let choiceArr = [
                            {
                              choice: result.data().choice1,
                              index: 1
                            },
                            {
                              choice: result.data().choice2,
                              index: 2
                            },
                            {
                              choice: result.data().choice3,
                              index: 3
                            },
                            {
                              choice: result.data().choice4,
                              index: 4
                            },
                            {
                              choice: result.data().choice5,
                              index: 5
                            }
                          ];

                          let choiceArrFiltered = choiceArr.filter(function(
                            el
                          ) {
                            return el.choice != "";
                          });
                          choiceArrFiltered = choiceArrFiltered.filter(function(
                            el
                          ) {
                            return el.choice != undefined;
                          });

                          this.shuffle(choiceArrFiltered);

                          let dataAnswer = {
                            choiceArr: choiceArrFiltered
                          };

                          let datafinal = { ...result.data(), ...dataAnswer };

                          this.dataShow.push(datafinal);
                        });
                      }

                      // Load writing ----------------------------------------------------------------
                      db.collection("questionpool")
                        .doc("server")
                        .collection(writinglv)
                        .where("skill", "==", "writing")
                        .where(testType, "==", true)
                        .get()
                        .then(getwriting => {
                          if (getwriting.size > 0) {
                            getwriting.forEach(result => {
                              let choiceArr = [
                                {
                                  choice: result.data().choice1,
                                  index: 1
                                },
                                {
                                  choice: result.data().choice2,
                                  index: 2
                                },
                                {
                                  choice: result.data().choice3,
                                  index: 3
                                },
                                {
                                  choice: result.data().choice4,
                                  index: 4
                                },
                                {
                                  choice: result.data().choice5,
                                  index: 5
                                }
                              ];

                              let choiceArrFiltered = choiceArr.filter(function(
                                el
                              ) {
                                return el.choice != "";
                              });
                              choiceArrFiltered = choiceArrFiltered.filter(
                                function(el) {
                                  return el.choice != undefined;
                                }
                              );

                              this.shuffle(choiceArrFiltered);

                              let dataAnswer = {
                                choiceArr: choiceArrFiltered
                              };

                              let datafinal = {
                                ...result.data(),
                                ...dataAnswer
                              };

                              this.dataShow.push(datafinal);
                            });
                          }

                          // Load listening ----------------------------------------------------------------=
                          db.collection("questionpool")
                            .doc("server")
                            .collection(listeninglv)
                            .where("skill", "==", "listening & Speaking")
                            .where(testType, "==", true)
                            .get()
                            .then(getlistening => {
                              if (getlistening.size > 0) {
                                getlistening.forEach(result => {
                                  let choiceArr = [
                                    {
                                      choice: result.data().choice1,
                                      index: 1
                                    },
                                    {
                                      choice: result.data().choice2,
                                      index: 2
                                    },
                                    {
                                      choice: result.data().choice3,
                                      index: 3
                                    },
                                    {
                                      choice: result.data().choice4,
                                      index: 4
                                    },
                                    {
                                      choice: result.data().choice5,
                                      index: 5
                                    }
                                  ];

                                  let choiceArrFiltered = choiceArr.filter(
                                    function(el) {
                                      return el.choice != "";
                                    }
                                  );
                                  choiceArrFiltered = choiceArrFiltered.filter(
                                    function(el) {
                                      return el.choice != undefined;
                                    }
                                  );

                                  this.shuffle(choiceArrFiltered);

                                  let dataAnswer = {
                                    choiceArr: choiceArrFiltered
                                  };

                                  let datafinal = {
                                    ...result.data(),
                                    ...dataAnswer
                                  };

                                  this.dataShow.push(datafinal);
                                  this.dataShow.sort((a, b) => {
                                    return Number(a.unit) - Number(b.unit);
                                  });
                                });
                                this.loading = true;
                              }

                              db.collection("pretestposttestlog")
                                .doc(this.pretestposttestlogid)
                                .update({
                                  totalQuestion: this.dataShow.length
                                });

                              this.hideLoading();

                              resolve(1);
                            });
                        });
                    });
                });
            });
        }
      }).then(value => {
        if (value) {
          if (this.dataShow.length == 0) {
            this.$q
              .dialog({
                title: "แจ้งเตือน",
                message: "ไม่มีแบบทดสอบนี้ กรุณาติดต่อทีมงานค่ะ",
                persistent: true,
                ok: "กลับสู่หน้าหลัก"
              })
              .onOk(() => {
                let studentData = this.$store.state.system.teststudentData;
                this.setUserData("");
                this.setExamData("");
                this.setLevelData("");
                this.$router.push("/");
              })
              .onCancel(() => {});
          }
        }
      });
    },
    shuffle(a) {
      for (let i = a.length - 1; i > 0; i--) {
        const j = Math.floor(Math.random() * (i + 1));
        [a[i], a[j]] = [a[j], a[i]];
      }
      return a;
    },
    onResize(data) {
      this.innerWidth = data.width;
      this.innerHeight = data.height;
    }
  },
  mounted() {
    this.loadBasicData();
    this.intraval = setInterval(() => {
      this.minute -= 1;
      let setprogress = (Number(this.minute) / Number(this.expecttime)).toFixed(
        2
      );
      this.progress = Number(setprogress);
    }, 60000);
  },
  watch: {
    minute() {
      if (this.minute <= 0) {
        clearInterval(this.intraval);
        db.collection("pretestposttestlog")
          .doc(this.pretestposttestlogid)
          .update({
            status: "pass"
          });
        this.$q
          .dialog({
            title: "แจ้งเตือน",
            message: "หมดเวลาในการทำแบบทดสอบแล้ว",
            persistent: true,
            ok: "ออกจากแบบทดสอบ"
          })
          .onOk(() => {
            this.$router.push("/finish");
          })
          .onCancel(() => {});
      }
    }
  }
};
</script>
<style scoped>
.brx {
  border: 1px solid#f00;
}
.logo-text {
  color: #efb81d;
  text-shadow: rgb(0, 0, 0) 8px 0px 0px, rgb(0, 0, 0) 7.93758px 0.997398px 0px,
    rgb(0, 0, 0) 7.7513px 1.97923px 0px, rgb(0, 0, 0) 7.44406px 2.93018px 0px,
    rgb(0, 0, 0) 7.02066px 3.8354px 0px, rgb(0, 0, 0) 6.4877px 4.68078px 0px,
    rgb(0, 0, 0) 5.85351px 5.45311px 0px, rgb(0, 0, 0) 5.12797px 6.14035px 0px,
    rgb(0, 0, 0) 4.32242px 6.73177px 0px, rgb(0, 0, 0) 3.44941px 7.21814px 0px,
    rgb(0, 0, 0) 2.52258px 7.59188px 0px, rgb(0, 0, 0) 1.55638px 7.84714px 0px,
    rgb(0, 0, 0) 0.565898px 7.97996px 0px,
    rgb(0, 0, 0) -0.433417px 7.98825px 0px,
    rgb(0, 0, 0) -1.42597px 7.87189px 0px, rgb(0, 0, 0) -2.39627px 7.63269px 0px,
    rgb(0, 0, 0) -3.32917px 7.27438px 0px, rgb(0, 0, 0) -4.21013px 6.80256px 0px,
    rgb(0, 0, 0) -5.02539px 6.22459px 0px, rgb(0, 0, 0) -5.76223px 5.54948px 0px,
    rgb(0, 0, 0) -6.40915px 4.78778px 0px, rgb(0, 0, 0) -6.95606px 3.95136px 0px,
    rgb(0, 0, 0) -7.39442px 3.05329px 0px, rgb(0, 0, 0) -7.71739px 2.10757px 0px,
    rgb(0, 0, 0) -7.91994px 1.12896px 0px, rgb(0, 0, 0) -7.9989px 0.132735px 0px,
    rgb(0, 0, 0) -7.95304px -0.865561px 0px,
    rgb(0, 0, 0) -7.78307px -1.85035px 0px,
    rgb(0, 0, 0) -7.49165px -2.80627px 0px,
    rgb(0, 0, 0) -7.08333px -3.71839px 0px,
    rgb(0, 0, 0) -6.56448px -4.57249px 0px,
    rgb(0, 0, 0) -5.94318px -5.35524px 0px,
    rgb(0, 0, 0) -5.22915px -6.05442px 0px,
    rgb(0, 0, 0) -4.43352px -6.65912px 0px,
    rgb(0, 0, 0) -3.5687px -7.15991px 0px, rgb(0, 0, 0) -2.6482px -7.54898px 0px,
    rgb(0, 0, 0) -1.68637px -7.82024px 0px,
    rgb(0, 0, 0) -0.698222px -7.96947px 0px,
    rgb(0, 0, 0) 0.300817px -7.99434px 0px,
    rgb(0, 0, 0) 1.29516px -7.89446px 0px, rgb(0, 0, 0) 2.2693px -7.67139px 0px,
    rgb(0, 0, 0) 3.20802px -7.32862px 0px, rgb(0, 0, 0) 4.09668px -6.87148px 0px,
    rgb(0, 0, 0) 4.92142px -6.30711px 0px, rgb(0, 0, 0) 5.66936px -5.64432px 0px,
    rgb(0, 0, 0) 6.32883px -4.89346px 0px, rgb(0, 0, 0) 6.88954px -4.06623px 0px,
    rgb(0, 0, 0) 7.34274px -3.17555px 0px, rgb(0, 0, 0) 7.68136px -2.23532px 0px,
    rgb(0, 0, 0) 7.90012px -1.26021px 0px, rgb(0, 0, 0) 7.9956px -0.265434px 0px;
}
.bar-title {
  background-color: #43c0c2;
}
.main {
  width: 90%;
  max-width: 1280px;
}
.space-text {
  border-right: 2px solid#1A4683;
}
.question-bar {
  width: 90%;
  margin: 50px auto 0px auto;
  background-color: #c4e7eb;
  border-radius: 3px;
}
.btn-auto {
  width: 100%;
  max-width: 450px;
}
</style>
