<template>
  <div class="bg row column justify-center items-center q-pa-sm">
    <q-resize-observer @resize="onResize" />
    <div
      align="center"
      class="q-mb-xl"
      v-show="innerWidth > 600 && innerHeight > 600"
    >
      <img src="../assets/logowinner.png">
    </div>
    <div
      align="center"
      class="text-h3 text-bold question-stroke text-white q-mt-sm q-mb-sm"
      :class="{'text-h4':innerWidth < 600}"
    >
      <div class="q-mb-md">เข้าสู่แบบทดสอบ</div>
      <div class="q-mt-lg">ก่อนเรียน / หลังเรียน</div>
    </div>
    <div
      align="center"
      class="q-mt-xl"
      style="width:250px;"
      :class="{'text-h4':innerWidth < 600}"
    >
      <q-btn
        push
        class="text-white q-pa-md btn-max-width"
        color="secondary"
        @click="startBtn()"
        :disable="!isTestStart"
      >
        <span class="text-h6">เริ่มแบบทดสอบ</span>
      </q-btn>
    </div>
  </div>
</template>
<script>
import { db } from "../router/index.js";
import { mapActions } from "vuex";
export default {
  data() {
    return {
      school: {
        code: this.$store.state.system.teststudentData.schoolCode
      },
      student: {
        code: this.$store.state.system.teststudentData.studentCode
      },
      prepostkey: this.$store.state.system.teststudentData.prepostkey,
      isTestStart: true,
      innerWidth: window.innerWidth,
      innerHeight: window.innerHeigth
    };
  },
  methods: {
    ...mapActions(["setUserData", "setExamData"]),
    startBtn() {
      this.$q
        .dialog({
          title: "แจ้งเตือน",
          message: "นักเรียนต้องการที่จะเริ่มแบบทดสอบใช่หรือไม่",
          ok: "ใช่",
          cancel: "ไม่",
          persistent: true
        })
        .onOk(() => {
          this.loadPrepostData().then(value => {
            this.setExamData(value);
            let endtesttime = Number(value.microtime) + 45 * 60 * 1000;
            let starttesttime = value.microtime;
            // let expecttime = endtesttime - starttesttime;
            // expecttime = expecttime / 60 / 1000;
            let expecttime = 45;
            db.collection("pretestposttestlog")
              .add({
                starttesttime: starttesttime,
                endtesttime: endtesttime,
                expecttime: expecttime,
                status: "failed",
                studentid: this.student.code,
                schoolcode: this.school.code,
                testKey: this.prepostkey,
                studentroom: this.$store.state.system.testlevelexam.room,
                testType: value.testType,
                studentno: this.$store.state.system.testlevelexam.studentno,
                academicyear: this.$store.state.system.testlevelexam
                  .academicYear
              })
              .then(() => {
                this.$router.push("/start");
              });
          });
        })
        .onCancel(() => {});
    },
    async loadPrepostData() {
      let path = "https://www.winner-english.com/data/api/gettime.php";
      let microtime = await axios.get(path);
      microtime = microtime.data[0].microtime;

      let loaddata = await db
        .collection("pretestposttest")
        .doc(this.prepostkey)
        .get();

      let setdata = {
        microtime: microtime
      };

      let setfinaldata = { ...loaddata.data(), ...setdata };

      return setfinaldata;
    },
    async loadBasicData() {
      this.showLoading("กำลังเช็คสถานะการทำแบบทดสอบ");
      this.isTestStart = false;

      let path = "https://www.winner-english.com/data/api/gettime.php";

      let microtime = await axios.get(path);

      microtime = microtime.data[0].microtime;

      let getdata = await db
        .collection("pretestposttestlog")
        .where("testKey", "==", this.prepostkey)
        .where("studentid", "==", this.student.code)
        .get();

      if (!getdata.empty) {
        let endtime = (
          getdata.docs[0].data().expecttime -
          (microtime - getdata.docs[0].data().starttesttime) / 60 / 1000
        ).toFixed(0);

        this.hideLoading();
        if (endtime <= 0) {
          setTimeout(() => {
            this.$router.push("/finish");
          }, 1500);
        } else {
          setTimeout(() => {
            this.$router.push("/start");
          }, 1500);
        }
      } else {
        this.hideLoading();
        this.isTestStart = true;
      }
    },
    onResize(data) {
      this.innerWidth = data.width;
      this.innerHeight = data.height;
    },
    checkVersion() {
      db.collection("version")
        .doc("preposttest")
        .get()
        .then(result => {
          if (result.data().version != this.appVersion) {
            this.$q
              .dialog({
                title: "อัพเดทโปรแกรม",
                message: "ต้องการรีเฟรชระบบ กรุณากดปุ่มรีเฟรช",
                ok: "รีเฟรช",
                persistent: true
              })
              .onOk(() => {
                window.location.reload(true);
              });
          }
        });
    }
  },
  mounted() {
    this.checkVersion();
    this.loadBasicData();
  }
};
</script>