<!DOCTYPE html>
<html>

<head>
  <title>
    <%= htmlWebpackPlugin.options.productName %>
  </title>

  <meta charset="utf-8">
  <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">

  <link rel="icon" href="statics/test-logo.png" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
  <script src="https://www.gstatic.com/firebasejs/5.8.2/firebase.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <meta name="google" content="notranslate" />
  <script>
    // window.onload = function () {
    //   document.onkeydown = function (e) {
    //     return (
    //       (e.which || e.keyCode) != 116 &&
    //       (e.which || e.keyCode) != 82 &&
    //       (e.which || e.keyCode) != 123 &&
    //       (e.which || e.keyCode) != 117 &&
    //       (e.which || e.keyCode) != 112 &&
    //       (e.which || e.keyCode) != 114
    //     );
    //   };
    //   document.addEventListener("contextmenu", event =>
    //     event.preventDefault()
    //   );
    // };

    history.pushState(null, null, location.href);

    window.onpopstate = function () {
      history.go(1);
    };

  </script>
</head>

<body>
  <!-- DO NOT touch the following DIV -->
  <div id="q-app"></div>
</body>

</html>
